// Import Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/utilities/flex";

@font-face {
    font-family: 'roboto_wf';
    src: url('../static/fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../static/fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_wf';
    src: url('../static/fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../static/fonts/roboto/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_wf';
    src: url('../static/fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../static/fonts/roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
.modal-header {
	
	h5 {
		font-size: 16px;
		text-transform: uppercase;
		color: #222;
		font-weight: normal;
	}
	border-bottom: 2px solid #01b8d7;
}
.modal-body {
	font-size: 12px;
	color: #222;
	h3 {
		font-size: 12px;
	}
	p {
		margin-top: 0.5rem;
	}
	.form-control {
		font-size: 12px;
	}
	.form-check {
		font-size: 12px;
	    color: #222;
	    padding-bottom: 0.6rem;
	}
}
.modal-footer {
	border-top: none;
	padding-top: 0rem;
	button {
		font-size: 12px;
		border-color: #eaeaea;
		&.btn {
			&.btn-secondary {
				background-color: #fff;
				color: #222;
				border-color: #eaeaea;
			}
			&.btn-primary {
				color: #fff;
				background-color: #05b8c1;
			}
			&.btn-primary:hover {
				color: #fff;
				background-color: #05aaaa;
				border-color: #eaeaea;
			}
			&.btn-delete {
				color: #fff;
				background-color: #e8634b;
			}
			&.btn-delete:hover {
				color: #fff;
				background-color: #d15646;
			}
		}
	}
}

.col-xs-4-5, .col-sm-2-5, .col-md-2-5, .col-lg-1-5, .col-xl-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-4-5 {
	width: 100%;
	float: left;
}
.col-xs-12 {
	margin-bottom: 1rem;
}

.submission-widget {

	float: left;
	vertical-align: top;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	a:hover {
		text-decoration: none;
		color: #05b8c1;
	}

	.inner {
		border: 1px solid #eaeaea;
		border-radius: 4px;
		position: relative;
	}
	.widget-header, .widget-main {
		padding: 1rem;
	}
	.widget-product {
		padding: 0.75rem 1.2rem 1.2rem 1.2rem;
		
		img {
			display: block;
			height: 70px;
			width: 70px;
			border: 1px solid #eaeaea;
		}
		.text {
			display: block;
			margin-top: 10px;
		}
		color: #222;
		h3 {
			font-size: 12px;
		}
		.carousel-item {
			&.active {
				// display: flex;
			}
			
		}
		.carousel-control-prev, .carousel-control-next {
			bottom: 25px;
		}
		.carousel-control-prev-icon, .carousel-control-next-icon {
			background-color: black;
		}
		.carousel-indicators {
			width: 70px;
			position: static;
			margin: 0.5rem auto;
			li {
				a {
					display: block;
					width: 8px;
					height: 8px;
					border-radius: 50%;
				}
				&.active {
					background-color: #444;
				}
			}
			
		}
		.carousel-indicators li {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #eaeaea;
		}
		
	}
	.widget-main {
		.form-check {
			font-size: 12px;
			color: #222;
			padding-bottom: 0.6rem;
		}
		.reward {
			font-size: 12px;
			color: #444;
		}
		.reward:first-child {
			padding-top: 0px;
		}
		.reward:last-child {
			padding-bottom: 0px;
			border-bottom: none;
		}
	}
	h2 {
		color: #222;
		font-weight: normal;
		margin-bottom: 0;
	}
	.reward {
		padding: 0.75rem 0;
		border-bottom: 1px solid #eaeaea;
	}
	p.reward-amount {
		font-weight: bold;
	}
	h3 {
		font-weight: bold;
		font-size: 10px;
		color: #444;
	}
	p {
		margin-bottom: 0;
	}
	.testimonial {
		color: #444;
		padding: 0.25rem 1.2rem;
	}
	.testimonial-date {
		position: static;
		margin-top: 0;
		margin-bottom: 3px;
	}
	.testimonial-by {
		padding: 0.2rem 0 1rem 0;
		border-bottom: 1px solid #eaeaea;
	}
	.icon-three-dots {
		cursor: pointer;
		margin-left: auto;
		display: flex;
		width: 20px;
		height: 20px;
		color: #05b8c1;
		fill: #05b8c1;
	}
	.toolbar {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0.7rem 1.2rem;
	}
	.modals-menu-collapse {
		position: absolute;
		top: 0;
		right: 0;
		background-color: #222;
		color: #fff;
		width: 100px;
		li {
			a {
				padding: 0rem 1rem 0.5rem 1rem;
			}
			a, a:hover {
				color: #fff;
			}
		}
		li:first-child {
			a {
				padding-top: 0.5rem;
			}
		}
		
	}

	
}
.submission-widget:nth-child(2) {
	.widget-header {
		border-bottom: 2px solid #77c69d;

	}

}
.submission-widget:nth-child(3) {
	.widget-header {
		border-bottom: 2px solid #f0c418;
	}
}
.submission-widget:nth-child(2), .submission-widget:nth-child(3) {
	.widget-header {
		vertical-align: middle;
	}
	h2 {
		position: static;
		transform: none;
		font-size: 16px;
		text-transform: uppercase;
	}
}



html {
  position: relative;
  min-height: 100%;
  padding-top: 100px;
}

body {
  font-family: roboto_wf;
  font-weight: 400;
  h1 {
	font-size: 16px!important;
	color: #222;
  }
  .bg-dark {
  		background-color: #222!important;
  }
}

header, footer {
	font-size: 10px;
	color: #fff;
	.icon {
	    display: inline-block;
	    fill: currentColor;
	    pointer-events: none;
	    font-size: 10em;
	}
}

.navbar {
	position: fixed!important;
	top: 0;
	left: 0;
	right: 0;
}

header {
	color: #fff;
	.icon-duel {
		width: 40px;
	    height: 40px;
	}
	.icon-brand {
		width: 40px;
		height: 40px;
		border: 1px solid #fff;
		border-radius: 4px;
		margin-right: 10px;
	}
	span {
		display: block;
	}
	span.brand-name {
		font-size: 14px;
		text-transform: uppercase;
	}
	span.brand-url {
		font-size: 12px;
	}
	

	.navbar-dark .navbar-nav .nav-link {
		color: #fff;
		text-transform: uppercase;
	}
	
}

.container {
	.toolbar {
		display: flex;
		.rail-select {
			width: 200px;
			margin-left: auto;
			display: flex;
		}
		.form-control {
			border: 1px solid #eaeaea;
			font-size: 12px;
			color: #444444;

		}
		
	}
	.row {
		display: block;
	}
}

footer {
	padding: 0.5rem 1rem;
	width: 100%;
  	height: 100px;
	display: flex;
	.left-items, .right-items {
		display: block;
		align-items: center;
		width: 50%;
	}
	.right-items {
		margin-left: auto;
		padding-left: 15px;
	}
	.icon-duel-small {
		display: block;
		margin-right: 5px;
		margin-bottom: 5px;
		width: 26px!important;
		height: 26px!important;
	}
	.copyright {
		text-transform: uppercase;
	}
	.footer-link {
		color: #fff;
		text-decoration: none;
		display: inline-block;
	}
	.footer-link:first-child {
		margin-right: 15px;
	}
}


section {
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
}


article {
	position: relative;
	margin-bottom: 6rem;
	cursor: pointer;
	&:hover {
		.bg {
			filter: grayscale(100%);
		}
		p {
			display: block;
		}
	}
	p {
		display: none;
	}
	
	.bg {
		border-radius: 4px;
	}
	
	p {
		position: absolute;
		z-index: 1000;
	}
	
	.icon-three-dots {
		position: absolute;
		top: 100%;
		margin-top: 6px;
		right: 8px;
		fill: #05b8c1;
		width: 20px;
		height: 20px;
	}
}

.logo {
	z-index: 1000;
	position: absolute;
	height: 40px;
	width: 40px;
	top:0;
	left:14px;
	transform: translateY(-50%);
	border: 2px solid #fff;
	border-radius: 4px;
}
h2 {
	position: absolute;
	font-size: 14px;
	top:0;
	color: #444;
	left:60px;
	transform: translateY(-116%);
}
.testimonial {
	color: #222;
	top: 35%;
	color: white;
	padding: 10%;
	font-size: 12px;
}
.testimonial-by {
	font-weight: bold;
	display: block;
}
.testimonial-date {
	position: absolute;
	display: block;
	margin-top: 8px;
	font-weight: bold;
	font-size: 10px;
	color: #444;
	left: 8px;
	top: 100%;
	font-weight: bold;
}
.testimonial-readmore {
	font-weight: bold;
	font-size: 10px;
	color: #05b8c1;
}
.testimonial-readless {
	font-weight: bold;
	font-size: 10px;
	color: #05b8c1;
}
.testimonial-more {
	
}
p.share {
	margin: 0;
	border: 1px solid #05b8c1;
	border-radius: 4px;
	font-size: 12px;
	color: #222;
	display: flex;
	width: 100px;
	padding: 5px 10px;
}

@media (min-width: 350px) {
	footer {
		.left-items, .right-items {
			display: flex;
			width: auto;
		}
		.icon-duel-small {
			display: flex;
			margin-right: 1rem;
		}
	}
}
@media (min-width: 420px) {
	.submission-widget {
		.widget-product {
			img {
				float: left;
			}
			.text {
				margin-top: 0;
				float: right;
				width: 250px;
			}
		}
	}
}
@media (min-width: 576px) {
	.col-xs-12 {
		margin-bottom: 0rem;
	}
	.col-sm-2-5 {
		width: 33.33%;
		float: left;
	}
	.col-sm-6:last-child {
		margin-top: 1rem;
	}
	footer {
		height: 50px;
	}
}
@media (min-width: 768px) {
	.col-md-2-5 {
		width: 25%;
		float: left;
	}
	.col-sm-6, .col-sm-6:last-child {
		margin-top: 0;
	}
	section {
		padding-top: 0;
	}
}
@media (min-width: 992px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-xl-1-5 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1350px) {
	.container {
		width: 90%;
		max-width: none;
	}
}